#root {
   color: white;
   margin: auto;
   padding: auto;
 }

.bg-purple{
   background-color: rgb(128, 0, 128);
}

.bg-darker{
   background-color: rgb(30, 30, 30);
}

.bg-dark-light{
   background-color: rgb(50, 50, 50);
}

.bg-dark-blue{
   background-color: #012b4d;
}

.card-body{
   border-top: 1px rgb(173, 173, 173) solid !important;
}

.card-footer{
   border-top: 1px rgb(173, 173, 173) solid !important;
}

.loadmodal-zindex{
   z-index: 9999;
   border: none !important;
}